body {
    margin: 0;
    background:#EDF2F4;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
    justify-items: center;
}

.containerLabel {
    font-size: 1.5px;
    fill: #BABEBF;
    font-weight: bold;
    font-style: italic;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
