.point {
  fill: #8D99AE;
  transition: r 0.2s ease-in-out;
  stroke: #EDF2F4
}

.point:hover {
  fill: #BACAE5
}

.point.active {
  fill: blue;
  r: 3;
}

.point.selected {
  fill: #2B2D42;
  r: 3;
}

.pointName {
  font-size: 2.5px;
  text-align: center;
  fill: black;
  /* mix-blend-mode: exclusion; */
  margin: -50px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
