.point {
    fill:black;
    transition: r 0.2s ease-in-out;
}

.point:hover {
    fill: blue;
}

.point.active {
    fill: blue;
    r: 3;
}

.pointName {
    font-size: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  